{% extends 'CommunityBundle:Home:layout.html.twig' %}
{% block content %}
    {% for blog in blogs %}
    <article>
        <header>
            <h2>{{ blog.position }}</h2>
            <img src="{{ blog.urlBanner }}">
            <h3>{{ blog.title }}</h3>
        </header>
        <p>{{ blog.description }}</p>
        <footer><P>Communauté crée par : {{ blog.user.username }}</P></footer>
    </article>
    {% endfor %}
{% endblock %}